@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300:500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.mg-top-med {
  margin-top: 2rem;
}

.mg-top-xl {
  margin-top: 8rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.header {
  background-image: url('/img/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 75vh;
}
.nav {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem;
}

.hamburger {
  height: 25px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93a283;
}

.book h2 {
  text-align: center;
  color: white;
}

.book-btn {
  background-color: white;
  color: #93a283;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 2rem;
}

.focus-container {
  padding: 2.5rem;
  margin-bottom: 8rem;
}

.focus-container img {
  width: 100%;
}

.focus-container h2 {
  font-weight: 500;
  font-size: 28px;
}
